body{
  background-color:rosybrown;
}
.blog-post-card{
  width:80%;
  background-color:white;
  border-radius:20px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.post-img{
  width:100%;
  border-bottom:5px solid rosybrown;
}
.post-content{
  padding:10px;
}
.post-title{
  font-size:24px;
  font-family:Segoe UI;
  color:maroon;
}
.post-excerpt{
  font-size:16px;
  text-align:justify;
  color:crimson;
}
.read-more{
  display:inline-block;
  height:5vh;
  width:25vh;
  background-color:maroon;
  border-radius:10px;
  margin:3px;
  padding:3px;
  font-size:24px;
  text-align:center;
  color:mistyrose;
  text-decoration:none;
}
.read-more:hover{
  background-color:coral;
}
