body{
  background-color: white;
}
#email{
  box-sizing: border-box;
  padding: 50px;
  margin: 50px auto 0;
  background-color: #f0e9e9;
  width: 500px;
  border: 2px;
  border-color: black;
  border-style: solid;
  font-size: 1em;
  box-shadow: 2px 2px 3px 2px grey;
}

#confidential, #top-secret{
  display: inline-block;
  color: red;
  font-weight: bold;
}

#confidential{
  padding: 1px 2px 1px 2px;
  margin: 0 0 10px 110px;
  margin-left: 110px;
  font-size: 24px;
  border: 3.5px solid red;
  transform: rotate(-15deg);
}

#top-secret{
  padding: 1px 5px 1px 5px;
  margin-left: 200px;
  border: 3.5px solid red;
  font-size: 0.5rem;
  transform: rotate(10deg);
}

.blurred{
  filter: blur(3px); 
}
