h1{
  margin: 5px auto;
  text-align: center;
}

h2{
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

h2+p{
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: grey;
  font-weight: bold;
}

hr{
  width: 90%;
  margin: 0 auto 20px;
  color: black;
}

.pricing-container{
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 10px;
}

.pricing-card{
  border: 2px solid black;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 200px;
  width: 450px;
  padding: 20px;
  margin: 0 20px 15px;
}

.pricing-card:hover{
  transform: scale(1.04);
  transition: all 0.3s ease-in;
}
.basic-plan{
  order: 0;
}
.pro-plan{
  order: 1;
  flex-grow: 2;
}
.premium-plan{
  order: 2;
}
.checklist,.cross{
  margin: 0;
  font-size: 
}
.checklist::before{
  content: "✓ ";
  color: green;
  font-weight: bold;
} 

.cross::before{
  content: "✗ ";
  color: red;
  font-weight: bold;
}

button{
  margin: 15px;
  padding: 10px 20px;
  font-size: 0.8rem;
  background-color: orange;
  border: 1px solid orange; 
  font-family: serif;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
}
