body{
  background-color:whitesmoke;
  color:black;
  font-family:Arial;
}
.container{
  background-color:#ffffff1a;
  width:80%;
  max-width:600px;
  margin:20px auto;
  padding:10px 20px;
  box-shadow:0 1px 5px gray;
}
.title{
  text-align:center;
  font-size:1.5em;
  margin-bottom:50px;
}
label{
  font-size:0.9em;
}
label:not(.radio-group){
  font-weight:600;
  display:block;
  margin:5px 0;
}
input:not(.radio-group),select,textarea{
  font-size:0.8em;
  width:95%;
  padding:0.5em;
  margin:10px 0;
}
input:focus,textarea:focus{
  border-color:orange;
}
input:invalid,select:invalid,textarea:invalid{
  border-color:red;
}
input:valid,select:valid,textarea:valid{
  border-color:green;
}
button{
  width:95%;
  font-size:0.6em;
  padding:0.75em;
  background-color:green;
  color:white;
}
button:hover{
  cursor:pointer;
  background-color:black;
}
.radio-group input[type="radio"]:checked{
  border-color:green;
  background-color:green; 
  box-shadow:0 1px 5px green;
}
input[type="radio"]:checked + label {
    color: green;
}
input:first-of-type{
  border-radius:10px;
}
