body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.space {
  width: 200px;
  height: 200px;
  background-color: black;
  margin: auto;
  position: relative;
}

.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: blue;
  box-shadow: 0 0 10px blue;
}

.orbit {
  width: 200px;
  height: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid black;
  transform-origin: center center;
  z-index: -1;
  animation: orbit 5s linear infinite;
}

.moon {
  position: absolute;
  width: 30px;
  height: 30px; 
  top: 0;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: grey;
  box-shadow: 0 0 5px grey;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg)  translate(-50%,-50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%,-50%);
  }
}
